@CHARSET "US-ASCII";
body {
	font-family: arial, sans-serif;
	color: black;
}

#outerframe {
	margin:auto;
	width: 50%;
	text-align: center;
}

/******************************************************************************
 * Todo Table
 *****************************************************************************/

.table{
	border: 1px solid black;
	border-spacing: 1px;
}

.table th{
	text-align: left;
}

.tableheader{
	font-weight: bold;
	margin-bottom: 1em;
}


.listbody {
	text-align: left;
	border: 2px solid black;
	margin: 15px auto;
}

/******************************************************************************
 * Form Styles
 *****************************************************************************/

form.left-aligned-labels {
	display: inline-block;
	text-align: left;
}

form.left-aligned-labels label {
	display: block;
}

input[type=number] {
	text-align: right;
}

/******************************************************************************
 * Button - Row
 *****************************************************************************/
.button-row {
	float: right;
}

.button-row::after {
	content: "";
	clear: right;
}

.button-row input[type="submit"], .button-row input[type="button"] {
	margin-left: 0.5em;
}

.button-row-center {
	width: 100%;
	margin-left: auto;
}

/******************************************************************************
 * Validation - Messages
 *****************************************************************************/

.validationMessage:before {
	content: "*";
}

.validationMessage {
	color: #ff311d;
	font-size: 0.8em;
	white-space: pre;
	position: relative;
	top: -0.5em;
}

